body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

.titulo{
    text-align: center;
    width: 50%;
    margin: 20px auto;
    color: black;
    padding: 15px;   
}

.imgenIzquierda{
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    float: right;
    width: 150px;
    margin-left: 15px;
}

.menu{
    text-align:center;
    font-size:x-large ;
    padding: 20;
    background-color: #F0B429;
}
.tabla{
    width: 80%;
    margin: 40px;
}
.titulo2{
    background-color: #005883;
    text-align:center;
    color: seashell;
}
.ir{
    font-size:xx-large ;  
}
.foto {
    float: right;
    width: 200px; height: 300px;
    }


.caja{
    text-align: center;
    height: 150px;
    display: inline-block;
    padding: 10px;
    margin: 100px 100px;
   

}
.footer{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    position: relative;
    margin-top: -10px;
    width: 100%;
    padding: 10px;
    clear: both;
    text-align: center;
    background-color:gray;
    color: white;
    
}
