body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

.titulo{
    text-align:center;
        
}
.menu{
    text-align:center;
    font-size:x-large ;
    padding: 20;
    background-color: #F0B429;
}
.tabla{
    width: 80%;
    margin: 40px;
}
.titulo2{
    background-color: #005883;
    text-align:center;
    color: seashell;
}
.ir{
    font-size:xx-large ;  
}
.foto {
    display:block;
    margin:auto;
    padding: 10px; margin: 10px; border: 2px solid black; float: right; width: 250px;
}