body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

.titulo{
    text-align:center;
        
}
.menu{
    text-align:center;
    font-size:x-large ;
    padding: 20;
    background-color: #F0B429;
}
.tabla{
    width: 80%;
    margin: 40px;
}
.titulo2{
    background-color: #005883;
    text-align:center;
    color: seashell;
}
.ir{
    font-size:xx-large ;  
}
.foto {
    
    width: 200px; height: 300px;
    
    
}
.contenedora{
    text-align: center;
    background-color: chartreuse;
    border: 5px solid black; 
    width: 200px; height: 300px;
    display: inline-block;
    padding: 10px;
    margin: 100px 100px;

}
.footer{
    width: 100%;
    height:170;
    background-color: black;
}