body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.titulo{
    text-align:center;
    
}
.menu{
    text-align:center;
    padding: 20;
    background-color: #F0B429;
}
.tabla{
    width: 80%;
    margin: 40px;
}
